<div class="prose flex min-w-full justify-center align-middle">
  <div class="page__footer-copyright">
    <div class="page__footer-follow">
      {% if site.data.ui-text[site.locale].follow_label %}
      <strong>{{ site.data.ui-text[site.locale].follow_label }}</strong>
      {% endif %} {% if site.footer.links %} {% for link in site.footer.links %}
      {% if link.label and link.url %}
      <a href="{{ link.url }}" rel="nofollow noopener noreferrer"
        ><i
          class="{{ link.icon | default: 'fas fa-link' }}"
          aria-hidden="true"
        ></i>
        {{ link.label }}</a
      >
      {% endif %} {% endfor %} {% endif %} {% unless site.atom_feed.hide %}
      <a
        href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"
        ><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{
        site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a
      >
      {% endunless %}
    </div>
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.

      <br />
      {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }}
      <a href="https://bluteks.com" rel="nofollow">Bluteks</a>
    </p>
  </div>
</div>
