---
layout: archive
---

<h1 class="prose prose-xl font-bold text-primary-content">
  {{ site.data.text.lectures.subtitle }}
</h1>

<div class="grid gap-3 shadow-xl md:grid-cols-2 lg:grid-cols-3">
  {% for link in site.data.menu-de-lecturas.links %}
  <div class="card bg-base-100 shadow-xl">
    <figure>
      <img src="{{ link.image }}" class="h-64 w-full object-contain" />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-white">
        {{ link.title }}
        <div class="badge badge-secondary">
          {{ site.categories[link.title].size }}
        </div>
      </h2>
      <p class="text-gray-300">{{ link.description }}</p>
      <div class="card-actions justify-end">
        <a href="{{ link.link }}" class="btn btn-primary"
          >{{ site.data.text.lectures.read_more }}</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{{ content }} {% assign categories_max = 0 %} {% for category in site.categories
%} {% if category[1].size > categories_max %} {% assign categories_max =
category[1].size %} {% endif %} {% endfor %} {% assign entries_layout =
page.entries_layout | default: 'list' %} {% for i in (1..categories_max)
reversed %} {% for category in site.categories %} {% if category[1].size == i %}
<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ category[0] }}</h2>
  <div class="entries-{{ entries_layout }}">
    {% for post in category.last %} {% include archive-single.html
    type=entries_layout %} {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top"
    >{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a
  >
</section>
{% endif %} {% endfor %} {% endfor %}
